.button {
  border-radius: 2em;
  box-shadow: inset 0px -3px 0px 1px rgba(0, 0, 0, 0.11);
  color: white;
  display: block;
  font-weight: 700;
  text-decoration: none;
  margin-top: 1em;
  padding: 1em;
  text-align: center;

  &--cyan {
    background-color: var(--strong-cyan);
  }
  &--blue {
    background-color: var(--light-blue);
  }
}
