.specs {
  display: grid;
  margin-top: 3.5em;

  &__title {
    color: var(--dark-grayish-blue);
  }

  &__desc {
    color: var(--grayish-blue);
    line-height: 1.5em;
  }

  &-cards {
    &__card {
      margin-top: 2.5em;
    }
  }

  @media screen and(min-width:1024px) {
    align-items: center;
    grid-template-columns: repeat(2, 1fr);

    &__mac {
      position: relative;
      height: 100%;
      width: 100%;
    }

    &__img {
      position: absolute;
      top: 7%;
      left: -10%;
    }

    &-cards {
      &__card {
        text-align: left;
      }
    }
  }
  @media screen and(min-width:1200px) {
    &__img {
      top: 0%;
    }
  }
}
